<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>form details</title>
	</head>
	<body>
		<center>
			<h1>form details</h1>
		<form action="/savepoint" th:object="${productModel}" method="post" >
		
			<input type="text" placeholder="enter the productname" style="height:50px;width:400px;font-size: 20px;"name="name" th:field="*{name}">
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
			<br><br>
			<input type="text" placeholder="enter the brand"style="height:50px;width:400px;font-size: 20px;"name="brand" th:field="*{brand}">
			<p th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></p>
			<br><br>
			<input type="text" placeholder="enter the madein"style="height:50px;width:400px;font-size: 20px;"name="madein" th:field="*{madein}" >
			<p th:if="${#fields.hasErrors('brand')}" th:errors="*{madein}"></p>
			<br><br>
			<input type="number" placeholder="enter the price"style="height:50px;width:400px;font-size: 20px;"name="price"th:field="*{price}">
			<p th:if="${#fields.hasErrors('brand')}" th:errors="*{price}"></p>
			<br><br>
			<input type="number" placeholder="enter the quantity"style="height:50px;width:400px;font-size: 20px;"name="quantity"th:field="*{quantity}">
			<p th:if="${#fields.hasErrors('brand')}" th:errors="*{quantity}"></p>
			<br><br>
			<input type="number" placeholder="enter the discountrate"style="height:50px;width:400px;font-size: 20px;"name="discountrate" th:field="*{discountrate}">
			<p th:if="${#fields.hasErrors('brand')}" th:errors="*{discountrate}"></p>
			<br><br>
			<button type="submit">submit</button>
			
		</form>
		</center>
	</body>
</html>